<?xml version="1.0" encoding="utf-8" ?>  <!-- 현재 파일이 XML 파일이기 때문에 맨 위에 XML 선언이 온다 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd"> <!-- 규칙을 정의한 DTD 선언 -->


<mapper namespace="com.bitstudy.app.mapper.BoardMapper">

    <select id="count" resultType="int">
        SELECT count(*) FROM board
    </select>

    <select id="select" parameterType="int" resultType="BoardDto">
        SELECT * from board where bno = #{bno}
    </select>


    <select id="selectAll" resultType="BoardDto">
        select * from board
        order by reg_date desc , bno desc
    </select>

    <select id="selectPage" parameterType="map" resultType="BoardDto">
        select * from board
        order by reg_date desc, bno desc
        limit #{offset} , #{pageSize}
    </select>

    <!--    deleteEach - 회원용 -->
    <delete id="delete" parameterType="map">
        delete from board where bno=#{bno} and writer=#{writer}
    </delete>

    <!--    deleteEach - 관리자용 -->
    <delete id="deleteForAdmin" parameterType="int">
        delete from board where bno=#{bno}
    </delete>

    <insert id="insert" parameterType="BoardDto">
        insert into board (title, content, writer)
        values
        (#{title}, #{content}, #{writer})
    </insert>

    <update id="update" parameterType="BoardDto">
        update board set title=#{title} , content=#{content}
        where bno = #{bno} and writer=#{writer}
    </update>


    <!--   조회수 올리는 쿼리 -->
    <update id="increaseViewCount" parameterType="int">
        update board set view_count = view_count +1
        where bno = #{bno}
    </update>

</mapper>